<b style="font-size: 16px;">Archived Logs</b><br /><br />

<%= error_messages_for :configuration %>

<br /><br />


<b>Due to the way logs are archived the entries may be out of order. All fields are tab delimited.</b><br />

  <table class="index_list">
    <tr><td style="border-bottom: 1px solid #000000;"><%= will_paginate @files %></td></tr>
    <tr><td>&nbsp</td></tr>

    <% shaded = true %>
    <% for file in @files %>
        <% if (shaded) %>
            <tr class="shaded">
            <% shaded = false %>
        <% else %>
            <tr class="light_shaded">
            <% shaded = true %>
        <% end %>
      <td><%= link_to File.basename(file.archive_file), download_archived_log_configuration_url(@configuration), :method => :post %></td>
    </tr>
    <% end %>
    <tr><td>&nbsp</td></tr>
    <tr><td style="border-top: 1px solid #000000;"><%= will_paginate @files %></td></tr>
  </table>

<br />