<b style="font-size: 16px;">New Network Object Group</b><br /><br />

<%= error_messages_for :network_object_group %>

<% form_for(:network_object_group, :url => create_network_object_group_configuration_url(@configuration)) do |f| %>
<%= text_area_tag :data, @data, :size => '80x15', :wrap => 'off' %>
    <br /><br />
    <%= submit_tag "Create" %>
    <input type=button value="Cancel" onclick="window.location.href='<%= network_object_groups_configuration_url(@configuration) %>'" />
<% end %>

<br /><br />
<h3><u>Examples</u></h3>
<p>
<b>A complete network-object-group named nog1:</b><br />
<pre>
network-object-group nog1
  10.1.0.0/16
  10.2.0.0/16
</pre>
<br />
<b>An empty network-object-group named nog2:</b><br />
<pre>
network-object-group nog2
</pre>
</p>