<b style="font-size: 16px;">TACACS+ Daemons per Manager</b><br /><br /><br />

<% if (@tacacs_daemons.length > 0) %>
  <% form_for(:configuration, :url => tacacs_daemon_control_configuration_url(@configuration), :html => { :method => :put }) do |f| %>
    <%= render :partial => 'tacacs_daemons/list' %>
  <% end %>

<br />

  <b><u>Changelogs</u></b><br />
  <ol>
  <% for td in @tacacs_daemons %>
    <li>
      <%= link_to td.name, :action => :tacacs_daemon_changelog, :id => @configuration.id, :tacacs_daemon_id => td.id %>
    </li>
  <% end %>
  </ol>

<br />

  <b><u>AAA Log Files</u></b><br />
  <ol>
  <% for td in @tacacs_daemons %>
    <li>
      <%= link_to td.name, :action => :aaa_log_file, :id => @configuration.id, :tacacs_daemon_id => td.id %>
    </li>
  <% end %>
  </ol>

<% else %>
  <b>No TACACS+ Daemons have been created.</b>
<% end %>

<br />




