<b style="font-size: 16px;"><%= pluralize(User.count, "User" ) %></b><br /><br />

  <table class="index_list">
    <tr><td colspan="9" style="border-bottom: 1px solid #000000;"><%= will_paginate @users %></td></tr>
    <tr><td>&nbsp</td></tr>
    <tr>
        <th>&nbsp</th>
        <th>Role</th>
        <th>Username</th>
        <th>Real Name</th>
        <th>Department</th>
        <th>&nbsp</th>
        <th>&nbsp</th>
        <th>&nbsp</th>
        <th>&nbsp</th>
    </tr>

    <% blue = 1 %>
    <% for user in @users
           if (!user.disabled?)
                if (blue == 1)
                    user_class="shaded"
                else
                    user_class="light_shaded"
                end
           else
                user_class="disabled"
           end
    %>
    <%= render :partial => 'user_index', :locals => { :user => user, :user_class => user_class, :blue => blue } %>
    <% 
          if (blue == 1)
               blue = 0
           else
               blue = 1
           end
    end
    %>
    <tr><td>&nbsp</td></tr>
    <tr><td colspan="9" style="border-top: 1px solid #000000;"><%= will_paginate @users %></td></tr>
  </table>
    <br /><br />


