<%= error_messages_for :shell_command_object_group_entry %>

<% form_for(:shell_command_object_group_entry, :url => shell_command_object_group_entry_url(@shell_command_object_group_entry), :html => { :method => :put }) do |f| %>
<table>
  <tr>
    <td><b>Command:</b></td>
    <td><%= f.text_field :command, :size => 50 %></td>
  </tr>
  <tr><td>&nbsp</td></tr>
  <tr>
    <td><%= submit_tag "Update" %></td>
    <td><input type=button value="Cancel" onclick="window.location.href='<%= shell_command_object_group_url(@shell_command_object_group) %>'" /></td>
    <td colspan="2">&nbsp</td>
  </tr>
</table>
<% end %>
