<% if (@managers.length != 0) %>
<h2>Slave systems</h2>
<table class="index_list">
  <tr>
    <th>Name</th>
    <th>Serial</th>
     <th>URI</th>   
    <th>Registration Date/Time</th>
  </tr>

<% shaded = true %>
<% for manager in @managers %>
  <% if (shaded) %>
        <tr class="shaded">
        <% shaded = false %>
  <% else %>
        <tr>
        <% shaded = true %>
  <% end %>

    <td><%= link_to manager.name, manager_url(manager) %></td>
    <td><%=h manager.serial %></td>
    <td><%=h manager.base_url %></td>
    <td><%=h manager.created_at.strftime("%Y-%m-%d %H:%M:%S %Z") %></td>
    <% if (!manager.is_approved) %>
    <td><b style="color:#7B2024;"><i>Awaiting Approval</i></b></td>
    <% elsif (!manager.is_enabled) %>
    <td><b style="color:#7B2024;"><i>Disabled</i></b></td>
    <% end %>
  </tr>
<% end %>
</table>
<% else %>
<h2>Slave systems</h2>
<b>No slave systems have been registered.</b>

<% end %>
